
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');

*{
   
    margin: 0;
}

html{
    font-family: "Montserrat", sans-serif;
    background-color:#ffffff;
}

.title {
    width: 100vw; 
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url(/pages/assets/imgServicios/img1.webp);
    background-size: cover;
    background-position: center;
  
  }
  
  
  .title-text {
      color: white;
      text-align: center;
      width: 50%;
      font-size: 2rem;
      
  }
  
  .title-text span {
    color: #C0AA83;
    font-family: "Twinkle Star", cursive;
    display: flex;
    flex-direction: column;
  }
  
  .title-text h1 {
    font-family: "Montserrat", sans-serif;
  }
  
  .directory{
    display: flex;
    justify-content: flex-start;
   margin-left: 12vw;
      padding: 2vw;
      font-family: "Montserrat", sans-serif;
      gap:20px;
      }
  
  .directory a {
    text-decoration: none;
    font-family:"Montserrat", sans-serif;
    color:#C0AA83;
  }
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
    color: #C0AA83;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h3{
    font-size: xx-large;
}
.buttons{
    align-self: flex-start;
    display: flex;
    gap: 20pxs;
}


.google-btn{
background-color: #1A73E8;
color: white;
border:none;
border-radius: 5px;
height: 40px;
display: flex;
align-items: center;
padding: 2px;
cursor: pointer;

}

.google-btn:hover{
    opacity: 0.75 ;
}

.google-btn picture{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.google-btn picture img{
    width: 75%;
}
.google-btn span{
    color:white;
    padding:15px;
    font-weight: 500;
}

/* .twitter-btn{

    color: #ccc;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitter-btn img{
    width: 60%;
}
.twitter-btn:hover{
    background-color: #ddd;
} */

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color:#8b8b8b;

}

.section-inputs{
    display: flex;
    gap:10px;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:30px;
}
label{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label span{
    font-weight: 700;
    color:#C0AA83;
}


.section-inputs label input{
    width: 80%;
    background-color: #DEE2E6;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input{
    width: 90%;
    background-color: #DEE2E6;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0,2s;
    color:white;
}

label input:hover{
    background-color:  #ced2d6;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

label input:focus{
    background-color: #DEE2E6;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

.checkbox-label{
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"]{
    width: 20px;
}

.checkbox-label span{
    font-weight: 400;
}

.submit-btn{
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: 500;
    font-size: 14pt;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.submit-btn:hover{
    opacity: 0.75;
}

::selection {
    background-color: #C0AA83;
    color: #ffffff;
}


footer {
    height: 10vh;
    background-color: #242424;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif ;
    margin-top: 20px;
  }

  @media only screen and (max-width:768px) {

    .title-text {

        font-size: 1.2rem;
    }

    .text {
        font-size: 2.5rem;
        
    }

    .login{
        margin-bottom: 2rem;
    }

    .login p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .login h3{
        font-size: 1.8rem;
    }
.container{
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 90%;
}

.section-inputs label input {
    width: 60%;
    font-size: 12px;
}


label input {
    width: 80%;
    font-size: 12px;
}

.submit-btn {
    width: 90%;
}
}