@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.productos {
  position: relative;
}

.imgaleria {
  width: 500px;
  opacity: 0.5;
}
.texto {
    font-family: "Montserrat", sans-serif;;
  color:#C0AA83;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.productos:hover .texto {
  display: block;
}

.imgaleria:hover {
  opacity: 2;
}

footer {
  height: 10vh;
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif ;
}

@media only screen and (max-width:768px) {
    .imgaleria{
        width: 200px;
    }

    .galeria{
      display: flex;
      justify-content: center;
    }

    footer{
      font-size: small;
    }
}