@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}


.title {
  /* width: 100vw; */
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url(/pages/assets/imgServicios/img1.webp);
  background-size: cover;
  background-position: center;

}


.title-text {
    color: white;
    text-align: center;
    width: 50%;
    font-size: 2rem;
    
}

.title-text span {
  color: #C0AA83;
  font-family: "Twinkle Star", cursive;
  display: flex;
  flex-direction: column;
}

.title-text h1 {
  font-family: "Montserrat", sans-serif;
}

.directory{
  display: flex;
  justify-content: flex-start;
    padding: 2vw;
    font-family: "Montserrat", sans-serif;
    gap:2px;
    }

.directory a {
  text-decoration: none;
  font-family:"Montserrat", sans-serif;
  color:#C0AA83;
}

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.productos {
  position: relative;
}

.imgaleria {
  width: 500px;
  opacity: 0.5;
}
.texto {
    font-family: "Montserrat", sans-serif;
  color:#C0AA83;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.productos:hover .texto {
  display: block;
}

.imgaleria:hover {
  opacity: 2;
}


/*footer*/
footer {
  background-color: #242424;
  color: white;
  font-family: "Montserrat", sans-serif ;
}

.social-footer {
 display: flex;
 justify-content:center; 
 
}

.social-footer p{
  padding: 1rem;
}

.social-footer ul{
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.social-footer li{
  list-style:none;
  
}

.social-footer i{
  color: aliceblue;
}

.social-footer i:hover{
  transform: translateY(-4%);
}


div.social-footer {
  position: relative;
  z-index: 1;
}

div.social-footer:before{
  border-top: 2px solid white;
  content: "";
  margin:  auto;
  position: absolute;
  top: 45%;
  left: 6%;
  right: 6%;
  bottom: 0;
  width: 90%;
  z-index: -1;
}

div.social-footer span{
  background-color:#242424;
}
.copyright-footer{
  display: flex;
  justify-content: center; 
  padding: 1rem;
}

.legal-footer{
  padding: .5rem;
  font-size: .5rem;
}

.legal-footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
}

@media only screen and (max-width:768px) {

  .title-text {

    font-size: 1.2rem;
}

.text {
    font-size: 2.5rem;
  }

    .imgaleria{
        width: 200px;
    }

    .galeria{
      display: flex;
      justify-content: center;
    }

    footer{
      font-size: small;
    }
}





