
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.Item main{ 
   width: 50px;
   margin-right: 315px;
}

.Item block2{ 
   width: 50px;
   margin-right: 315px;
}

.Item block3{ 
   width: 50px;
   margin-right: 315px;
}

.Item block4{ 
   width: 50px;
   margin-right: 315px;
}

.contenedor{  
   display: flex;
    gap: 6px;
    height: 60vh;
    display: grid;

           
    grid-template-areas: 
       "header header header"
       "asside asside asside"
       "main main main"
       "footer footer footer"
       ;
    
     .header{
        grid-area: header;
        background-color: white;
        color:blue;
        font-size: 50px;
        font-style:italic;
        margin-left: 200px;
     }
     .asside{
        grid-area: asside;
        background-color: darkgrey;
        color: blue;
        height: 10vh;
        a{
            color: blue;
            font-style: italic;
            font-size: 20px;
            margin: 60px;
        }      
     }
      
     .main{
        align-self: center;
        background-color:bisque;
        color:blue;
        height: 35vh;
     }
     .texto1{
      background-color: white;
      color: black;
      height: 75vh;
   }

   .texto2{
      background-color: white;
      color: black;
      height: 75vh;
      line-height: normal;
    }
 
   .imagen{ 
      width: 250px;
      margin-right: 5px;
   }

   .imagen2{ 
      width: 250px;
      margin-right: 5px;
   }
   
   .imagen3{ 
      width: 250px;
      margin-right: 5px;
      position: absolute; top: 650px; left: 1020975px;
   }

   .texto3{
      background-color: white;
      color: black;
      height: 75vh;
      line-height: normal;
   }

.textopie{
   font-style: italic;
   height: 55vh;

}

footer {
   height: 10vh;
   background-color: #242424;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Montserrat", sans-serif ;
 }



}