@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    width: 100vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url(/pages/assets/imgServicios/img1.webp);
    background-size: cover;
    background-position: center;

}

.title-text {
    color: white;
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
    
}

span {
    color: #C0AA83;
    font-family: "Twinkle Star", cursive;
    display: flex;
    flex-direction: column;
}

.title-text h1 {
    font-family: "Montserrat", sans-serif;
  }
.container {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    font-family: "Montserrat", sans-serif ;
}


.directory{
    display: flex;
    justify-content: flex-start;
   margin-left: 12vw;
      padding: 2vw;
      font-family: "Montserrat", sans-serif;
      gap:20px;
      }
  
  .directory a {
    text-decoration: none;
    font-family:"Montserrat", sans-serif;
    color:#C0AA83;
  }
  
.text {
    font-size: 2rem;
    text-align: center;
    color: #242424;
    font-family: "Montserrat", sans-serif ;
}

/* tarjetas*/

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
   font-family: "Montserrat", sans-serif ;
}

.cards {
    background-color: #C0AA83;
    width: 80vw;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 400ms ease;
}

.cards:hover{
    box-shadow: .2rem .4rem .4rem .4rem rgba(0, 0, 0, 0.5) ;
    transform: translateY(-3%);
}

.title-cards {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

.body-cards {
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
}

.body-cards img {
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
}

.body-cards h3 {
    color: rgb(211, 4, 4);
    margin: .5rem;
}

.body-cards p {
    margin: .5rem;
}

.button-cards {
    display: flex;
    justify-content: center;
    padding: .5rem;
    
    
}

.button-cards button {
    border-radius: .5rem; 
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif ;
    border: none;
}

footer {
    height: 10vh;
    background-color: #242424;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif ;
}


/*medium devices*/
@media only screen and (min-width:768px) {

    .title-text {

        font-size: 2rem;
    }

    .text {
        font-size: 2.5rem;
        
    }

    /* tarjetas*/

    .container-cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .cards {
        width: 40vw;
    }

    .button-cards button {
        width: 14rem;

    }
}

/*large devices*/
@media only screen and (min-width: 1024px) {

    .title {
        height: 45vh;
    }

    .title-text {
        font-size: 2rem;
    }

    .text {
        font-size: 3.5rem;
    }

    /* tarjetas*/

    .container-cards {
        display: flex;
        justify-content: center;
    }

    .cards{
        width: 30vw;
    }


    .title-cards {
        font-size: 1.2rem;
    }

    .button-cards button {
        width: 14rem;
        height: 2rem;
        font-size: 1rem;

    }

}

/*extra large devices*/
@media only screen and (min-width: 1200px) {

    .container-cards {
        padding: 1rem;
    }

    .cards {
        width: 18vw;
    }

    .title-cards {
        font-size: 1rem;
    }


    .body-cards img {
        width: 10rem;
        height: 10rem;
    }


    .button-cards button {
        border-radius: .5rem;
        width: 10rem;
        height: 2rem;
        font-size: .9rem;
    }

    .button-cards button:hover {
        width: 10.2rem;
        height: 2.2rem;
    }


}