@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Montserrat", sans-serif ;
}

.conteiner-header {
    background-color: #242424;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}


.svg-arrow {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 3rem;
    height: 3rem;
    color: #C0AA83;
    z-index: 2;
    cursor: pointer;
    transition: all .4s ease;
    opacity: 1
  }
  
  .svg-arrow:hover {
    color: #7c6845;
  }
  
/*footer*/

footer {
    background-color: #242424;
    color: white;
    font-family: "Montserrat", sans-serif ;
}

.social-footer {
   display: flex;
   justify-content:center; 
   
}

.social-footer p{
    padding: 1rem;
}

.social-footer ul{
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.social-footer li{
    list-style:none;
    
}

.social-footer i{
    color: aliceblue;
}

.social-footer i:hover{
    transform: translateY(-4%);
}


  div.social-footer {
    position: relative;
    z-index: 1;
  }

  div.social-footer:before{
    border-top: 2px solid white;
    content: "";
    margin:  auto;
    position: absolute;
    top: 45%;
    left: 6%;
    right: 6%;
    bottom: 0;
    width: 90%;
    z-index: -1;
  }

  div.social-footer span{
    background-color:#242424;
  }
.copyright-footer{
    display: flex;
    justify-content: center; 
    padding: 1rem;
}

.legal-footer{
    padding: .5rem;
    
    font-size: .6rem;
}

.legal-footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}
