@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Montserrat", sans-serif ;
}

.conteiner-header {
    background-color: #242424;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
